@import 'styles/libraries/_mixins';

@import 'styles/libraries/_functions';

.wrapper {
  position: relative;
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.button-toggle {
  @include reset-button-style();
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 4.5px 8px;
  // background-color: #303030;
  color: #fff;
  min-width: 72px;
  flex: 1;
  max-height: 10rem;
  height: 24px;
  text-align: left;
  border-radius: 4px;
}

.text {
  margin-right: 8px;
  letter-spacing: 0.2px;
  font-size: 12px;
  max-width: 100px;
  font-weight: 300;
  line-height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.arrow {
  border: 0;

  & > svg {
    width: 6px;
    transform: rotate(-90deg);
    color: #7a7a7a;
  }

  &.open {
    & > svg {
      width: 6px;
      transform: rotate(90deg);
    }
  }
}

.menu {
  position: absolute;
  background-color: #282727;
  min-width: 72px;
  color: #a7a7a7;
  padding: 4px;
  max-height: 10rem;
  border-radius: 6px;
  border: 1px solid var(--gray300);
  overflow: hidden;
  z-index: 999;
  letter-spacing: 1px;
  overflow-y: scroll;
  width: max-content;
  top: 24px;
  margin: 4px 0 0 0 ;
  transform: unset !important;

  &::-webkit-scrollbar {
    display: none;
  }

  &.left {
    left: 0;
    right: unset;
  }

  &.right {
    left: unset;
    right: 0;
  }
}

.fixed {
  position: fixed;
}
