.dopesheet-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 248px);
  // background: #151515;

  .x-axis-wrapper {
    position: fixed;
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #303030;
    z-index: 1;
    // background: #151515;
  }

  .circle-group-wrapper {
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 48px, 0);
  }

  circle {
    fill: #424242;
  }

  text {
    fill: #a7a7a7;
  }

  path {
    stroke: none;
  }

  line {
    stroke: #303030;
  }
}
