.dopesheet-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 248px);
  background: #151515;

  .circle-group-wrapper {
    display: flex;
    flex-direction: column;
    transform: translate3d(0, 48px, 0);
  }

  circle {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1px;
  }

  text {
    fill: white;
  }
}
