@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.wrapper {
  color: #fff;
}

.upper-section {
  position: relative;
}

.lower-section {
  position: relative;
  z-index: 1;
}

.library-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.rendering-panel {
  position: absolute;
  top: 0;
  left: 0;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.section {
  padding: 0 16px;

  .section-title {
    display: flex;
    align-items: center;
    height: 40px;
  }

  .section-item {
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: space-between;
  }
}

.dropdown {
  margin-left: 34px;
  background-color: $contentbg-base;
  border-radius: 6px;
  max-width: 138px;
}
