@import "styles/libraries/_mixins";

@import "styles/libraries/_functions";

//.header {
//  @include reset-button-style();
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  font-weight: 300;
//  min-width: 24px;
//  min-height: 24px;
//  border-radius: 6px;
//  padding: 0;
//  margin: 0;
//
//  &.expanded {
//    background: var(--grey060-opacity01);
//  }
//}

.header {
  display: flex;
  flex: inherit;
  align-items: inherit;
  align-self: stretch;
  background-color: inherit;
  cursor: inherit;
  border-radius: inherit;

  &.active, &:hover {
    filter: var(--button-filter);
  }
}