@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.filled {
  @include reset-button-style();
  @include basic-button-style();
  color: $content-active;

  &:active,
  &:hover {
    filter: var(--button-filter);
  }

  &.disabled {
    filter: none;
    background-color: var(--grey020);
  }
}

.primary {
  background-color: $primary;
}

.negative {
  background-color: $negative;
}

.default {
  background-color: var(--grey020);
}

.temp-purple {
  background-color: #8851f6;
  color: white;
}
