@import "styles/libraries/_mixins";
@import "styles/libraries/_colors";

.input {
  display: flex;
  align-items: center;
  border: 1px solid $primary;
  padding-left: 7px;
  font-size: 11px;
  color: #fff;
}

.name {
  position: absolute;
  width: calc(100% - 23px);
  left: 23px;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  color: $content-active;
}

.text {
  display: inline-flex;
}
