.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.tooltip {
  position: fixed;
  width: fit-content;
  padding: 28px 24px;
  background-color: var(--gray200);
  border: 1px solid var(--gray400);
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(0 0 0 / 25%);
  color: var(--gray700);
  z-index: 1001;
}
