@import 'styles/libraries/_colors';

.dark {
  background: none;
  caret-color: #fff;
  color: #fff;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px #fff inset;
  }

  &.disabled {
    color: rgba(255, 255, 255, 0.2) !important;

    &::placeholder {
      color: rgba(255, 255, 255, 0.2) !important;
    }
  }

  &.invalid {
    color: $pastel-red;
  }
}

.light {
  background: none;
  caret-color: $gray200;
  color: $gray200;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px $gray200 inset;
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.2) !important;

    &::placeholder {
      color: rgba(0, 0, 0, 0.2) !important;
    }
  }

  &.invalid {
    color: $pastel-red;
  }
}

%input {
  position: relative;
  outline: 0;
  margin: 0;
  padding: 0;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid $primaryColor;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: none;
    transition: background-color 500000s ease-in-out 0s;
  }

  &::placeholder {
    text-align: left;
    opacity: 1;
    color: $gray500 !important;
    transition: color 0.3s;
  }

  &:not(.arrow) {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &.arrow {
    background: url('/images/InputArrow.svg');
    background-position: center right;
    background-size: auto;
    background-repeat: no-repeat;

    &::-webkit-inner-spin-button {
      opacity: 1;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
      width: 24px;
      height: 32px;
    }
  }

  &.fullSize {
    width: 100%;
  }

  &.isChild {
    border: 0;
  }

  &.readOnly {
    border: 0 !important;
  }
}

.input {
  @extend %input;
}
