.prefixText {
  display: inline-flex;
  font-size: 0.5rem;
  margin: 0 5px 0 5px;
  line-height: 1.25rem;
  color: var(--vivid-blue);
}

.Input {
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
  width: 1.683rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.625rem;
  font-weight: normal;
  text-align: left;
  color: var(--gray700);

  ::placeholder {
    color: var(--gray600);
  }

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
