
.dark {
  background-color: var(--gray300);

  &.disabled {
    color: rgba(255, 255, 255, 0.2) !important;
  }
}

.light {
  background-color: var(--gray600);

  &.disabled {
    color: rgba(0, 0, 0, 0.2) !important;
  }
}

.input-wrapper {
  display: flex;
  border-radius: 4px;
  padding: 2px 8px;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid  #0f88ff;
  }
}

.prefix {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-right: 8px;
  color: #0f88ff;
}

.input {
  display: inline-flex;
  width: 100%;
}
