@import 'styles/libraries/_colors';

.dark {
  background-color: $gray300;

  .suffix {
    color: $gray500;
  }

  &.disabled {
    color: rgba(255, 255, 255, 0.2) !important;
  }
}

.light {
  background-color: $gray600;

  .suffix {
    color: $gray200;
  }

  &.disabled {
    color: rgba(0, 0, 0, 0.2) !important;
  }
}

.input-wrapper {
  display: flex;
  border-radius: 4px;
  padding: 2px 10px;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid $primaryColor;
  }
}

.suffix {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.input {
  display: inline-flex;
  width: 100%;
}
