.background {
  width: 100vw;
  height: 12px;
  fill: #292a2b;
}

.top-ruler {
  transform: translate(20px, 18px);

  path {
    display: none;
  }

  line {
    stroke: #292a2b;
  }

  text {
    font-size: 10px;
    fill: white;
  }
}
