.wrapper {
  //
}

.upperbar {
  width: 100%;
  height: 36px;
}

.upper-section {
  display: flex;
  background-color: cadetblue;
}

.lower-section {
  background-color: chartreuse;
}

.library-panel {
  width: 240px;
  // height: 764px;
  height: 100%;
}

.rendering-panel {
  //
}

.control-panel {
  width: 260px;
  // height: 764px;
  height: 100%;
}

.timeline-panel {
  width: 100%;
  // height: 168px;
  height: 100%;
}
