$BG_base: var(--grey012);
$BG_elevated: var(--grey016);
$contentBG_base: var(--grey020);
$contentHigh: var(--grey090);
$contentMedium: var(--grey070);
$contentActive: var(--grey090);
$contentInactive: var(--grey040);
$primary: var(--blue055);
$secondary: var(--orange055);
$negative: var(--red055);
$positive: var(--green045);
$outline: var(--grey060-opacity02);
$resizeHandler: var(--grey060-opacity02);
$overlayHover: var(--grey060-opacity01);
$borderHover: var(--blue055);
$contentHover: var(--grey090);
