@mixin reset-button-style() {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

@mixin basic-button-style() {
  border-radius: 6px;
  font-weight: 400;
  transition: background-color 0.25s;

  &.small {
    min-width: 64px;
    padding: 5px 16px;
    font-size: 11px;
  }

  &.fullSize {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
    background-color: #f5f5f5;
    color: #bdbdbd;

    &:hover {
      background-color: #f5f5f5;
      color: #bdbdbd;
    }
  }
}

@mixin reset-list-style() {
  margin: 0;
  padding: 0;
  list-style: none;

  &:focus {
    outline: 0;
  }
}

@mixin ellipsis($lineCount, $lineHeight) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $lineHeight;
  height: $lineHeight * $lineCount;
}
