//$변수명: {font-style} {font-weight} {font-size}/{line-height}

$header-title: normal 600 var(--font-size-4);
$iti-title: normal 600 var(--font-size-4);
$button-small: normal 500 var(--font-size-3) / 13px;
$body-default: normal 300 var(--font-size-3) / 13px;
$modal-body: normal 300 var(--font-size-14) 'inter';
$modal-title: normal 600 var(--font-size-16) 'inter';
