//$변수명: {font-style} {font-weight} {font-size}/{line-height} {font-family}

$header-title: normal 600 var(--font-size-12);
$iti-title: normal 600 var(--font-size-12);
$button-small: normal 500 var(--font-size-11)/13px;
$body-default: normal 300 var(--font-size-11)/13px;
$modal-body: normal 300 var(--font-size-14);
$modal-title: normal 600 var(--font-size-16);