@import "styles/libraries/_typography";

.dope-sheet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  color: white;
  background-color: inherit;

  span {
    font: $header-title;
  }
}
