@import "styles/libraries/typography";
@import "styles/libraries/colors";

.buttons-wrapper {
  position: relative;
  display: inline-flex;
  font: $body-default;
  color: $content-medium;
  background-color: $contentbg-base;
  user-select: none;
  justify-content: space-around;

  border-radius: 6px;
  height: 24px;

  &.fullSize {
    width: 100%;
  }
}

.button-select-effect {
  position: absolute;
  height: 100%;
  top: 0;
  border-radius: 6px;
  transition: left ease 0.3s;

  &.default {
    background-color: $outline-border;
  }

  &.primary {
    background-color: $primary;
  }

}

.button {
  position: relative;
  display: flex;
  height: 100%;

  padding: 4.5px 8px;
  cursor: pointer;
  justify-content: center;

  border-radius: 6px;

  > span.button-text {
    position: absolute;
  }

  &.fullSize {
    width: 100%;
  }

  &:hover {
    color: $content-active;
  }

  &.selected {
    color: $content-active;
  }

  &.disabled {
    cursor: default;
    color: $content-inactive;
  }
}