.animation-buttons {
  display: flex;
  height: 100%;
  border-radius: 6px;
  background: #353739;

  span {
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
    }

    &.record {
      svg {
        color: #909091;
      }
    }

    &.pause {
      border-radius: 6px;
      background-color: #0f88ff;
    }
  }
}
