@import "styles/libraries/_responsive";
@import "styles/libraries/_mixins";
@import "styles/libraries/_colors";

.wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
}

.button {
  @include reset-button-style();
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  width: 100%;
  height: 24px;
  font-size: 11px;
  padding: 5.5px 8px;
  background-color: $contentbg-base;
  color: $content-active;
}

.text {
  width: 80%;
  text-align: left;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.list {
  @include reset-list-style();
  position: absolute;
  transform: translate3d(0, 24px, 0);
  z-index: 1;
  width: 100%;
  background-color: $bg-elevated;
  outline: 1px solid $outline;
  border-radius: 6px;
  padding: 4px;
  height: 140px;
  overflow-y: auto;

  .item {
    display: flex;
    align-items: center;
    border-radius: 6px;
    font-size: 11px;
    padding: 5.5px 8px;
    color: $content-active;

    &:not(.disabled) {
      &:hover {
        background-color: $primary;
      }
    }

    &.disabled {
      color: $content-inactive;
    }

    .item-text {
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
