@import "styles/libraries/_mixins";
@import "styles/libraries/_colors";

.wrapper {
  display: flex;
  align-items: center;

  span {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: #7a7a7a;

    & > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
    }

    &:hover {
      background-color: $overlay-hover;
      color: $content-active;
    }

    &:active {
      background-color: $primary;
      color: $content-active;
    }

    &.selected {
      background-color: $primary;
      color: $content-active;
    }

    &:focus {
      border: none;
    }
  }
}
