NEXT_PUBLIC_HOTJAR_KEY=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_BACKEND_API_URL=
NEXT_PUBLIC_HOMEPAGE_URL=
NEXT_PUBLIC_BACKEND_WEB_SOCKET_URL=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_SENTRY_DSN=
DEV_TOKEN=
DEV_SCENE_ID=

NEXT_PUBLIC_PRODUCT_GTM_ID=
NEXT_PUBLIC_PRODUCT_GTM_AUTH=
NEXT_PUBLIC_PRODUCT_GTM_PREVIEW=