.wrapper {
  width: 100%;
}

.outer {
  display: flex;
  align-items: center;
  user-select: none;
  // draggable 요소에 opacity 0.999가 외부 배경색을 제거하는 역할
  opacity: 0.999;

  &.selected {
    background-color: var(--gray400);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.visualized {
    background-color: var(--blue200);
  }
}

.row {
  display: flex;
  align-items: stretch;
  width: 100%;
  border: 1px solid transparent;

  &.hovered {
    border: 1px solid #0f88ff;
  }
}

.icon-arrow {
  position: relative;
  display: flex;
  width: 16px;
  height: 24px;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: #fff;
  }
}

.contents {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 80%;
}

.column {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  width: 7px;
}
