.wrapper {
  display: flex;
  align-items: center;
  // padding-left: 7px;
  user-select: none;
  opacity: 0.999;

  &.selected {
    background-color: #5c6065;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner-row {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #0F88FF;
  }
}

.icon-arrow {
  position: relative;
  display: flex;
  width: 16px;
  height: 24px;

  &.invisible {
    & > svg {
      display: none;
    }
  }

  // &.open {
  //   transform: rotate(90deg);
  // }

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 11px;
    margin: auto;
    color: #fff;
  }
}

.icon-type {
  position: relative;
  display: flex;
  width: 16px;
  height: 24px;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 14px;
    margin: auto;
    color: #fff;
  }
}

.info {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  font-size: 11px;
  color: #fff;
  padding-left: 8px;
}
