.pause {
  height: 100%;
  width: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #0f88ff;

  svg {
    height: 14px;
    color: white;
  }
}
