@import "styles/libraries/colors";
@import "styles/libraries/mixins";

.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.inner {
  display: flex;
  align-items: center;
}

.button-group-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-group {
  display: flex;
  align-items: center;
  background-color: $contentbg-base;
  border-radius: 6px;
}
