@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.filled {
  @include reset-button-style();
  @include basic-button-style();
  color: $content-active;

  &:focus,
  &:hover {
    background-color: $overlay-hover;
  }
}

.primary {
  background-color: $primary;
}

.negative {
  background-color: $negative;
}
