@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.outline {
  @include reset-button-style();
  @include basic-button-style();
  background-color: inherit;
}

.border-color {
  &-default {
    border: 1px solid $outline;

    &:hover {
      border: 1px solid $overlay-hover;
    }
  }
}

.text-color {
  &-light {
    color: $content-active;
  }
}
