@import "styles/libraries/_colors";

.wrapper {
  z-index: 999;
  border-radius: 8px;
  border: 1px solid $outline;
  padding: 4px;
  background-color: $bg-elevated;
  color: $content-active;
  font-size: 11px;
  min-width: 144px;
  position: fixed;
}
