@import "styles/libraries/_colors";

.wrapper {
  border-radius: 6px;
  padding: 6px 12px;
  position: relative;
  cursor: pointer;

  &:not(.disabled) {
    &:hover {
      background-color: $primary;

      > .submenu {
        opacity: 1;
        transition: opacity 0.275s;
      }
    }
  }

  .trigger {
    width: 100%;
    display: flex;
  }

  .submenu {
    opacity: 0;
    position: absolute;
    top: -4px;
    z-index: 999;
    border-radius: 8px;
    border: 1px solid $outline;
    padding: 4px;
    background-color: $bg-elevated;
    color: $content-active;
    font-size: 11px;
    min-width: 144px;
  }
}

.arrow {
  margin-left: auto;
  font-size: 12px;
}
