@import 'styles/libraries/_colors';

.wrapper {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: $panelColor;
  padding: 8px 16px;
  justify-content: flex-end;
}

.test {
  display: flex;
  // flex-basis: calc(50%);
  justify-content: flex-end;
}

.indicator {
  display: flex;
  justify-content: space-evenly;

  .indicator-input {
    width: 120px;
    height: 28px;
    font-size: 12px;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mode-selector {
  display: flex;
  flex-basis: 264px;
  justify-content: flex-end;
}
