@import "styles/libraries/_mixins";

@import "styles/libraries/_functions";

.dropdown {
  position: relative;
  display: flex;
  flex: 1;
  //display: inline-block;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
  border-radius: inherit;
}
