@import "styles/libraries/_colors";

.tab-header {
  padding: 12px 8px;
  cursor: default;
}

.tab-btn {
  border: 0;
  background: none;
  outline: none;
  appearance: none;

  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    vertical-align: text-top;
    color: $content-inactive;
    transition: color 0.15s;

    &:hover {
      color: $content-active;
      transition: color 0.15s;
    }
  }
}

.active {
  @extend .tab-btn;
  transition: color 0.15s;

  span {
    font-weight: 700;
    color: $content-active;
  }

  & > button {
    cursor: pointer;
  }
}

.disabled {
  @extend .tab-btn;

  span {
    font-weight: 700;
    color: $content-inactive;

    &:hover {
      color: $content-inactive;
    }
  }

  & > button {
    cursor: not-allowed;
  }
}
