.tab-header {
  padding: 12px 8px;
  // border-bottom: 1px solid #303030;
  button {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    border: 0;

    vertical-align: text-top;

    color: var(--gray700);

    cursor: pointer;
    
    background: none;
    outline: none;
    appearance: none;
  }
}
