@import '../../../styles/libraries/mixins';

.text {
  @include reset-button-style();
  @include basic-button-style();
  color: $content-active;
  background-color: inherit;

  &:not(.disableHover) {
    &:active,
    &:hover {
      filter: var(--button-filter);
    }
  }

  &.disabled {
    filter: none;
  }
}

.default {

}
