@import '../../../styles/libraries/mixins';

.text {
  @include reset-button-style();
  @include basic-button-style();
  color: $content-active;
  background-color: inherit;

  &:active,
  &:hover {
    filter: brightness(110%);
  }

  &.disabled {
    filter: none;
  }
}

.default {

}
