@mixin common-panel {
  display: flex;
  height: auto;
  border-bottom: 1px solid #303030;
  padding: 12px;
}

.wrapper {
  background-color: #282727;
  width: 100%;
  border-left: 1px solid #000;
  overflow-y: auto;

  .button {
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
