.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

// .webcam {
//   position: absolute;
//   width: 500px;
//   min-height: 300px;
//   bottom: 20px;
//   right: 20px;
// }

.model {
  height: 100%;
}
