@import 'styles/libraries/_responsive';

.wrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.upper-section {
  display: flex;
  height: calc(100% - 48px);
}

.panel-library {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  height: 100%;
  z-index: 1;
}

.panel-rendering {
  display: flex;
  height: 100%;
}

.lower-section {
  height: 48px;
  z-index: 2;
}
