@import 'styles/libraries/_mixins';
@import 'styles/libraries/_functions';

.wrapper {
  position: relative;
  display: inline-block;
}

.button-toggle {
  @include reset-button-style();
  display: inline-block;
  // padding: 1rem;
  padding: 2px 8px;
  background-color: #282727;
  color: #fff;
  // min-width: 10rem;
  text-align: left;
  font-weight: 300;
  border-radius: 6px;

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282727;
  color: #a7a7a7;
  padding: 6px;
  // min-width: 10rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
