@import 'styles/libraries/_mixins';
@import 'styles/libraries/_colors';
@import 'styles/libraries/_functions';

.wrapper {
  position: relative;
  display: inline-block;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.button-toggle {
  @include reset-button-style();
  // display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-around;
  // padding: 1rem;
  padding: 2px 8px;
  background-color: $gray300;
  color: #fff;
  // min-width: 10rem;
  font-size: 13px;
  text-align: left;
  font-weight: 300;
  border-radius: 6px;

  // &.open {
  //   border-bottom-left-radius: 0;
  //   border-bottom-right-radius: 0;
  // }
}

.text {
  margin-right: 8px;
}

.arrow {
  border: 0;
  color: #7a7a7a;

  & > svg {
    width: 6px;
    transform: rotate(-90deg);
  }

  &.open {
    & > svg {
      width: 6px;
      transform: rotate(90deg);
    }
  }
}

.menu {
  position: fixed;
  background-color: #282727;
  min-width: 72px;
  padding: 4px 8px;
  color: #fff;
  font-size: 13px;
  // min-width: 10rem;
  border-radius: 6px;
  // border-bottom-left-radius: 6px;
  // border-bottom-right-radius: 6px;
  border: 1px solid #7a7a7a;
  overflow: hidden;
  z-index: 999;
}
