@import 'styles/libraries/_mixins';
@import 'styles/libraries/_functions';

.menu-item {
  @include reset-list-style();
  padding: 2px 8px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 4px;

  &:last-child {
    margin: 0;
  }

  // hover, focus 효과의 구분이 필요
  &:hover {
    background-color: tint(#3785f7, 25%);
    color: #fff;
  }

  &:focus {
    background-color: #3785f7;
    color: #fff;
  }
}
