@import 'styles/libraries/_colors';

.wrapper {
  display: flex;
  color: $gray500;
}

.arrow-left {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;

  & > svg {
    display: block;
    margin: auto;
    width: 6px;
  }
}

.path {
  display: flex;
  align-items: center;
  // flex-basis: calc(100% - 28px);
  flex-basis: calc(85% - 28px);

  .path-inner {
    display: flex;
    align-items: center;
    padding: 0 4px;
  }
}

.icon {
  display: flex;
  min-width: 12px;
  // flex-basis: 12px;

  &.last {
    // dark theme
    color: #fff;
  }
}

.icon-more {
  display: flex;
  min-width: 20px;
}

// @TODO - Mixin ellipsis로 변경 예정
.name {
  font-size: 11px;
  padding: 0 4px;
  width: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  &.last {
    // dark theme
    color: #fff;
  }
}

.arrow-right {
  width: 18px;
  height: 100%;

  & > svg {
    display: block;
    margin: auto;
    width: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)rotate(180deg);
  }
}
