@import 'styles/libraries/_reset';
@import 'styles/libraries/_grid';
@import 'styles/libraries/_resizable';
@import 'styles/timeline/_dopesheet';
@import 'styles/timeline/_curve';

:root {
  // gray
  --gray100: #151515;
  --gray200: #242424;
  --gray300: #303030;
  --gray400: #454545;
  --gray500: #a7a7a7;
  --gray600: #e2e2e2;
  --gray700: #fff;
  // vivid
  --vivid-red: #e85757;
  --vivid-orange: #ed8539;
  --vivid-yellow: #fcdd3e;
  --vivid-shoot: #afe755;
  --vivid-green: #38ce59;
  --vivid-teal: #67c5fa;
  --vivid-blue: #3785f7;
  --vivid-purple: #a15afd;
  --vivid-pink: #ed6cc9;
  // pastel
  --pastel-red: #f08a8a;
  --pastel-orange: #f8ac8b;
  --pastel-yellow: #fddc89;
  --pastel-shoot: #cdec8b;
  --pastel-green: #82dea2;
  --pastel-teal: #a4ecfc;
  --pastel-blue: #7ea1f9;
  --pastel-purple: #ae9afd;
  --pastel-pink: #ffa3d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body,
#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Noto Sans KR', Arial, sans-serif;
}

.canvas {
  outline: 0;
  border: 0;
}
