@import "styles/libraries/_font";
@import "styles/libraries/_resizable";
@import "styles/timeline/_dopesheet";
@import "styles/timeline/_curve";

:root {
  --black: #000;
  --grey010: #181a1b;
  --grey012: #1d1f20;
  --grey016: #27292b;
  --grey020: #303336;
  --grey030: #494d50;
  --grey040: #61666b;
  --grey050: #798086;
  --grey060: #94999e;
  --grey070: #afb2b6;
  --grey080: #c9cccf;
  --grey090: #e4e5e7;
  --white: #fff;
  --blue016: #1F2933;
  --blue055: #258CF4;
  --orange055: #F47F25;
  --red055: #D74247;
  --green045: #34B273;
  --blue055-opacity01: rgba(37, 140, 244, 0.1);
  --grey060-opacity01: rgba(148, 153, 158, 0.1);
  --grey060-opacity02: rgba(148, 153, 158, 0.2);
  --red055-opacity01: rgba(215, 66, 71, 0.1);
  --green045-opacity01: rgba(52, 178, 115, 0.1);


  // old
  --grey100: #121313;
  --grey200: #202122;
  --grey300: #353739;
  --grey400: #4f4f4f;
  --grey500: #7a7a7b;
  --grey600: #d3d3d3;
  --grey700: #f4f4f4;
  --grey800: #fff;
  --blue100: #1d364e;
  --blue200: #0f88ff;
  --blue300: #3fa0ff;
  --vivid-red: #f44;
  --vivid-orange: #fb8226;
  --vivid-yellow: #ffd22c;
  --vivid-green: #23cc53;
  --vivid-cyan: #3adde8;
  --vivid-purple: #cc69f1;
  --vivid-pink: #ff6fbb;
  --pastel-red: #ff6969;
  --pastel-orange: #fc9b51;
  --pastel-yellow: #ffdb56;
  --pastel-green: #4fd675;
  --pastel-teal: #61e4ed;
  --pastel-purple: #d687f4;
  --pastel-pink: #ff8cc9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: 0;
}

html {
  width: 100%;
  height: 100%;
}

body,
#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #202122;
}

main {
  width: 100%;
  height: 100%;
}

.canvas {
  outline: 0;
  border: 0;
}

div[tabindex="-1"]:focus {
  outline: 0;
}

*:not(input textarea) {
  user-select: auto;
}
