@import 'styles/libraries/colors';

.wrapper {
  width: 100%;
  height: 100%;
}

.section {
  padding: 0 16px;
  user-select: none;

  .section-title {
    display: flex;
    align-items: center;
    height: 40px;

    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: var(--font-size-11);
      line-height: 13px;
      margin-left: 8px;
      padding: 3.5px 4px;
      background-color: var(--blue016);
      color: $primary;
      border-radius: 6px;
    }
  }
}

.modal-inner {
  position: relative;
  width: 360px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.title-area {
  display: flex;
  align-items: center;

  .icon-warning {
    display: flex;
    margin-right: 8px;
  }
}

.title {
  color: $content-active;
  font-size: 16px;
  font-weight: 600;
}

.message {
  color: $content-medium;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 1.4em;

  &.nomargin {
    margin-bottom: 0;
  }

  .impact {
    color: $primary;
  }
}

.button-close {
  position: relative;
  color: $content-active;
  width: 24px;
  height: 24px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &.nomargin {
    margin-bottom: 0;
  }

  .label-name {
    color: $content-active;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
  }

  .input-name {
    border: 1px solid $primary;
    border-radius: 6px;
    padding: 4.5px 8px;
    font-size: 12px;

    &::placeholder {
      color: $content-inactive;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: right;

  .button-negative {
    margin-right: 8px;
  }
}
