@import "styles/libraries/colors";

.section-item {
  display: flex;
  align-items: center;

  height: 36px;

  justify-content: space-between;

  &.section-text {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .switch {
    width: 180px;
  }

  .section-comments {
    color: $content-medium;
    font-size: var(--font-size-11);
    font-weight: 300;
    line-height: 13px;
    padding-left: 88px;
  }
}