.panel-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  user-select: none;

  .property-title {
    min-width: 50px;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray500);
  }

  .input-group {
    display: flex;
    width: 100%;

    & > * {
      margin-left: 8px;
    }
  }
}

.icon {
  visibility: hidden;
  width: 16px;
  transform: rotate(180deg);
  line-height: 14px;
  margin: 0 4px;

  & > svg {
    color: #7a7a7a;
  }

  &:focus {
    border: 1px solid transparent;
  }
  cursor: pointer;
}

.rotation {
  visibility: visible;
  @extend .icon;
  line-height: 14px;
  width: 8px;
}

.segment {
  width: 100%;
}

// 세그먼트 열었을 때
.quaternion {
  @extend .icon;
  line-height: 14px;
  width: 8px;
}

.quaternionMode {
  display: none;
}
