@import 'styles/libraries/_colors';

.hidden-wrapper {
  width: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  background-color: $gray100;
  width: 100%;
  padding: 8px;
  border: 0;
  outline: 0;
}

.inner {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 100%;
  height: 100%;
}

.header {
  margin-bottom: 8px;
}

.content {
  flex-basis: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.title {
  color: white;
}

.breadcrumb {
  margin-bottom: 8px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
