.wrapper {
  height: 100%;
}

.inner {
  width: 100%;
  height: 100%;

  .onboarding-export-file-target {
    position: absolute;
    top: 91px;
    right: 0;
    width: 0;
    height: 0;
  }

  .onboarding-apply-motion-target {
    position: absolute;
    top: 117px;
    left: 150px;
    width: 0;
    height: 0;
  }
}

.content {
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 22px;
    // display: none;
  }

  &::-webkit-scrollbar-thumb {
    // border-radius: 999px;
    box-shadow: inset 0 0 14px rgb(73 77 80 / 80%);
    // padding: 8px;
    // border: 8px solid transparent;
    background-clip: padding-box;
  }

  // &::-webkit-scrollbar {
  //   // width: 10px;
  //   display: none;
  // }
}

.scrollbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  // padding: 8px;
  background: transparent;
}

.scrollbar-track {
  position: relative;
  width: 6px;
  height: 100%;
  background: transparent;
}

.scrollbar-handle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(73 77 80 / 80%);
  // border-radius: 999px;
}
