.wrapper {
  height: 100%;
}

.inner {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .onboarding-export-file-target {
    position: absolute;
    top: 91px;
    right: 0;
    width: 0;
    height: 0;
  }

  .onboarding-apply-motion-target {
    position: absolute;
    top: 117px;
    left: 150px;
    width: 0;
    height: 0;
  }
}
