@import "styles/libraries/_typography";

.wrapper {
  width: 100%;
  height: 32px;
  padding: 8.5px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
}

.title {
  color: #fff;
  font: $header-title;
  text-transform: capitalize;
}
