.video-wrap {
  position: relative;
  display: flex;
  height: calc(100% - 128px - 72px);
  justify-content: center;
}

.thumbnail-canvas {
  display: none;
}

.middle-bar {
  display: flex;
  width: 100%;
  max-height: 32px;
  justify-content: center;
  padding: 4px 0;

  .extract-button {
    font-size: 11px;

    &.disabled {
      cursor: not-allowed;
      color: #7a7a7b;
      background-color: #1d364e;
    }
  }

  .disable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video {
  width: 100%;

  &.mirror {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
  }
}

.countdown-overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  color: #f4f4f4;
  font-size: 200px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.notification-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-icon {
  & > svg {
    width: 50px;
  }
}

.no-camera-notification {
  font-size: 12px;
  font-weight: 700;
  color: #d3d3d3;
  line-height: 15px;
}

.playbox {
  display: flex;
  position: relative;
  max-width: 114px;
  background-color: #353739;
  border-radius: 6px;
  margin-right: 16px;

  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
  }

  & > .active {
    background-color: #484c4f;
  }

  & > .icon {
    & > svg {
      width: 26px;
      height: 100%;
      cursor: pointer;

      & > circle {
        fill: #e9e9e9;
      }
    }
  }

  & > .icon.pauseRecording {
    & > svg {
      height: 20px;
      color: #e9e9e9;
    }
  }

  & > .icon.startRecording {
    & > svg {
      background-color: #f44;
      width: 26px;
      height: 26px;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  & > .icon.completeRecording {
    & > svg {
      width: 26px;
      height: 26px;
      border-radius: 6px;
      cursor: pointer;

      & > circle {
        fill: #f44;
      }
    }
  }

  & > .icon.standbyRecording {
    & > svg {
      width: 26px;
      height: 26px;
      cursor: pointer;
      fill: #fff;
    }
  }
}

.disable-control {
  position: absolute;
  width: 67%;
  height: 100%;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: rgba($color: #000, $alpha: 0.5);
}

.thumbnail-wrap {
  background-color: #121313;
  padding: 21px 16px;

  .thumbnail {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    width: 100%;
    max-height: 80px;
    border-radius: 12px;
    overflow: hidden;
  }
}

.loading-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .loading {
    text-align: center;
  }

  & .cancel {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #d3d3d3;
    border-radius: 6px;
  }
}

.extract-name-paragraph {
  width: 232px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #bdbdbd;
  margin: 0 auto 28px auto;

  & > strong {
    color: #fd6756;
  }
}

.extract-name-input {
  width: 232px;
  color: #fff;
  padding: 5.5px 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #353739;
  margin: 0 auto 28px auto;
}

.extract-name-wrapper {
  display: flex;
  justify-content: space-around;
  width: 232px;

  & > .extract-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 24px;
    color: #fff;

    &.cancel {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: transparent;
      color: #d3d3d3;
    }
  }
}

.modal-heading {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.loading-spinner {
  & > svg {
    width: 24px;
    animation: spin-animation 1s infinite;
    display: inline-block;
  }
}

.failed-modal {
  & > .cancel {
    width: 100%;
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
