.video-wrap {
  display: flex;
  height: calc(100% - 128px - 72px);
  justify-content: center;
}

.middle-bar {
  display: flex;
  width: 100%;
  max-height: 32px;
  justify-content: center;
  padding: 4px 0;

  .extract-button {
    font-size: 11px;
  }
}

.video {
  width: 100%;
}

.playbox {
  width: 100%;
  max-width: 114px;
  background-color: #353739;
  border-radius: 6px;
  margin-right: 16px;

  & > .icon {
    & > svg {
      width: 26px;
      cursor: pointer;
      fill: #fb8226;
    }
  }
}

.thumbnail-wrap {
  background-color: #121313;
  padding: 21px 16px;

  .thumbnail {
    width: 100%;
    max-height: 80px;
    border-radius: 12px;
    background-color: red;
  }
}
