@import 'styles/libraries/_functions';
@import 'styles/libraries/_colors';

@function indent($depth) {
  $padding: 28px * ($depth - 1);

  @return $padding;
}

.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  outline: 0;
  border: 1px solid transparent;

  @for $i from 6 through length(1) {
    &.depth-#{$i} {
      padding-left: indent($i);
    }
  }

  // margin-bottom: 8px;

  // &.folder {
  //   margin-bottom: 12px;
  // }

  // &.model {
  //   margin-bottom: 8px;
  // }

  // &.motion {
  //   margin-bottom: 4px;
  // }

  .icon-arrow,
  .icon-item,
  .name-outer {
    color: $gray500;
  }

  &.closed {
    border-radius: 6px;
  }

  &:hover {
    border: 1px solid $primaryColor;
  }

  &.selected {
    background-color: $gray200;
  }

  &.clickSelected {
    background-color: $gray400;
  }

  &.clicked {
    background-color: $gray400;

    .icon-arrow,
    .icon-item,
    .name-outer {
      color: #000;
    }
  }

  &.visualizeSelected {
    // background-color: rgba(55, 133, 247, 0.2);
    background-color: shade($primaryColor, 66%);
  }

  &.visualized {
    background-color: $primaryColor;

    .icon-arrow,
    .icon-item,
    .name-outer {
      color: #fff;
    }
  }

  &.first {
    // border-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &.last {
    // border-radius: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  // &:not(:focus) {
  //   color: $gray500;
  // }
}

.icon-arrow {
  display: flex;
  padding: 8px;
  border: 0;
  width: 28px;
  height: 28px;

  & > svg {
    width: 6px;
    // color: $gray500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.open {
    & > svg {
      transform: translate(-50%, -50%)rotate(90deg);
    }
  }
}

.name-outer {
  display: flex;
  align-items: center;
  flex-basis: calc(100% - 28px);
}

.input-name {
  width: 100%;
  // color: #fff;
  font-size: 11px;
}

.icon-item {
  display: flex;
  padding: 8px;
  border: 0;
  width: 28px;
  height: 28px;

  & > svg {
    width: 10px;
    // color: $gray500;
  }
}

.name {
  width: calc(100% - 28px);
  font-size: 11px;
  // color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.6;
  // max-height: 1.6em;
  // line-height: 1.6em;
}
