@import 'styles/libraries/_responsive';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.upper-section {
  display: flex;
  flex-basis: 50%;
}

.panel-library {
  display: flex;
  height: 100%;
}

.panel-rendering {
  display: flex;
  height: 100%;
}

.panel-control {
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
}

.lower-section {
  flex-basis: 50%;
}
