.library {
  z-index: 1;
  overflow: hidden;
}

.control {
  background-color: black;

  .child {
    position: absolute;
    right: 0;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box1 {
  background: rgba(255, 0, 0, 0.1);
  flex-basis: 50%;
}

.box2 {
  background: rgba(255, 255, 0, 0.1);
  flex-basis: 50%;
}
