@import 'styles/libraries/_colors';

// 트랙 리스트 wrapper
.wrapper {
  position: relative;
  width: 230px;
  min-height: 100%;
  height: fit-content;
  border-right: 2px solid $gray300;
}

.search-wrapper {
  position: fixed;
  width: inherit;
  display: flex;
  background-color: $gray100;
  z-index: 2;
  border-right: 2px solid $gray300;
  border-bottom: 2px solid $gray300;
  height: 48px;
  align-items: center;
}

.search-joint {
  width: 100%;
  background-color: transparent;
}

// 트랙 리스트 wrapper
.list {
  transform: translate3d(0, 48px, 0);
}
