@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.icon-toggle-button {
  @include reset-button-style();
  @include basic-button-style();
  background-color: var(--grey020);
  width: 26px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  span,
  svg {
    transition: color 0.25s;
    color: $content-active;
    width: 16px;
    height: 16px;
  }

  &:active,
  &:hover {
    filter: var(--button-filter);
  }

  &.state {
    background-color: $primary;
  }

  &.disabled {
    filter: none;
    background-color: var(--grey020);

    span,
    svg {
      color: var(--grey030);
    }
  }
}
