@import "styles/libraries/_colors";
@import "styles/libraries/_mixins";

.timeline-generator {
  display: block;
  height: 1px;
  left: 0;
  object-fit: contain;
  position: fixed;
  top: 0;
  width: 1px;
  z-index: -1;
}

.video {
  width: calc(100% - 490px);
  height: 100%;
  margin-left: 240px;


  &.mirror {
    transform: rotateY(180deg);
  }
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $content-medium;

  .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 8px;
  }

  .text {
    font-size: 12px;
    font-weight: 400;
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  font-weight: 600;
  color: $content-active;
  text-shadow: 1px 1px 0 $primary,
  -1px 1px 0 $primary,
  1px -1px 0 $primary,
  -1px -1px 0 $primary;

}
