@mixin common-panel {
  display: flex;
  height: auto;
  
  border-bottom: 1px solid #303030;  
  
  padding: 12px;
} 

.panel-wrap {
  background-color: #282727;
  border-left: 1px solid #000;

  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.segment-group {
  display: flex;
  justify-content: space-between;

  align-items: center;

  & > * {
    padding: 8px 0;
  }

  span {
    min-width: 56px;
    
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 400;

    color: var(--gray500);
  }
}

.panel-top-header {
  padding: 12px 8px;
  border-bottom: 1px solid #303030;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    vertical-align: text-top;

    color: var(--gray700);
  }
}

.panel-transform {
  @include common-panel;
  flex-direction: column;
  .panel-title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    vertical-align: text-top;

    color: var(--gray700);
  }
  .transform-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .property-title {
      min-width: 50px;
      font-size: 12px;
      letter-spacing: 0.2px;
      line-height: 24px;
      font-weight: 400;

      color: var(--gray500);
    }
    .transform-group {
      display: flex;
      & > * {
        margin-left: 8px;
      }
    }
  }
}

.panel-camera {
  @include common-panel;
  height: 130px;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    vertical-align: text-top;

    color: var(--gray700);
  }
}

.panel-visibility {
  @include common-panel;
  flex-direction: column;
  .property-header {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    vertical-align: text-top;

    color: var(--gray700);
  }
}

.panel-fog {
  @include common-panel;
  height: 200px;
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    vertical-align: text-top;

    color: var(--gray700);
  }
}