@import "styles/libraries/_colors";

.container {
  background-color: $bg-elevated;
  max-width: 410px;

  header {
    display: flex;
    align-items: center;

    > span {
      margin-top: 4px;
    }

    h6 {
      padding: 0;
      margin: 0;
      color: $content-active;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      margin-left: 14px;
    }

    button {
      margin-left: auto;
    }
  }

  .body {
    margin-top: 21px;
    margin-left: 38px;

    div {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $content-medium;

      b {
        font-weight: 600;
      }

      a {
        font-size: 14px;
        text-decoration: none;
        color: var(--blue065);
      }
    }
  }

  footer {
    margin-top: 21px;

    button {
      float: right;
    }
  }
}
