@import "styles/libraries/_responsive";
@import "styles/libraries/_mixins";
@import "styles/libraries/_colors";

.wrapper {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid $outline;
  box-shadow: 0 0 12px rgb(0 0 0 / 25%);
  // // padding 없애고 자식에서 정해야함.
  // padding: 20px;
  min-width: 280px;
  outline: 0;
  background-color: $bg-elevated;

  &.icon {
    padding-top: 16px;
  }
  
  overflow: hidden;
  // max-width: 60%;
  // @include media(">lg") {
  //   max-width: 600px;
  // }
}

.title {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 28px;
}

.content {
  color: #fff;
  font-size: 11px;
  font-weight: 400;

  &.margin {
    margin-bottom: 28px;
  }
}
