@import "./common.scss";
@import "styles/libraries/_colors";

.title {
  text-align: center;
  margin: 0 0 8px;
  font-size: 16px;
}

.content {
  text-align: center;

  .drop-zone-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
    border: 1px dashed #4f4f4f;
    border-radius: 6px;

    span {
      color: var(--gray400);
    }

    .cloud-upload-icon {
      margin: 16px 0 24px;

      svg {
        width: 36px;
        height: 24px;
      }
    }

    .select-files-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 16px;

      span {
        color: white;
      }

      strong {
        color: $primary;
        text-decoration: underline;
        cursor: pointer;
      }

      input {
        display: none;
      }
    }
  }
}

.cancel-button {
  display: block;
  margin: 0 auto;
  background-color: var(--gray300);
  color: var(--gray600);

  &:hover {
    background-color: var(--gray300);
  }
}
