@import "styles/libraries/colors";
@import "styles/libraries/typography";

.container {
  width: 64rem;
  background-color: var(--grey010);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 2rem;

  h3 {
    font: $modal-title;
    color: $content-high;
  }
}

.body {
  img {
    width: 100%;
  }
  background-color: $content-active;
}

.footer {
  padding: 1.6rem 2rem;
  font: $modal-body;
  color: $content-high;

  a {
    color: var(--blue065);
    text-decoration: none;
  }
}
