.background {
  width: 100vw;
  height: 12px;
  fill: #292a2b;
}

.range {
  height: 12px;
  fill: #0f88ff;
}

.top-ruler {
  transform: translate(20px, 18px);

  path, line {
    display: none;
  }

  text {
    font-size: 9px;
    fill: white;
    user-select: none;
  }
}
