.wrap {
  display: flex;
  height: 100%;
}

.left-upper {
  width: 100%;
  max-width: 240px;
  background-color: #9099;
}

.middle-upper {
  width: 100%;
  background-color: #234;
}

.right-upper {
  width: 100%;
  max-width: 280px;
  background-color: #696;
}
