@import "styles/libraries/colors";

.wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: inherit;
}

.left-upper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: inherit;

  .menus, .import-button, .export-button {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    background-color: inherit;
  }

  .menus, .import-button {
    border-right: solid 1px var(--grey020);
  }
}

.icon-logo-wrapper {
  background-color: inherit;
  position: relative;
  margin-right: 8px;
}

.middle-upper {
  display: flex;
  align-items: center;
}

.right-upper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px 16px;
  background-color: inherit;
  gap: 2.4rem;

  .mode-switch {
    width: 52px;
  }
}

.segment-disable {
  position: absolute;
  right: 93px;
  background-color: rgba(255, 255, 255, 0.2);
  // border: 1px solid #fff;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  cursor: not-allowed;
}

.button-overlay {
  position: absolute;
  // background-color: pink;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// 현재는 들어가지 않는 기능 채우는 스타일

.void {
  width: 36px;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(48, 48, 48);
}

.modal-heading {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.extract-name-wrapper {
  display: flex;
  justify-content: space-around;
  width: 232px;

  & > .extract-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 24px;
    color: #fff;

    &.cancel {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: transparent;
      color: #d3d3d3;
    }
  }
}

.extract-name-paragraph {
  width: 232px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #bdbdbd;
  margin: 0 auto 28px auto;

  & > strong {
    color: #fd6756;
  }
}

.support-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 24px;
  border: 1px solid var(--grey030);
  border-radius: 6px;

  span,
  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    border: 1px solid #7a7a7b;
  }
}

.ghost-button {
  height: 100%;
  border-radius: 0;
  background-color: inherit;

  &:not(.disabled) {
    &.active, &:hover {
      filter: var(--button-filter);
    }
  }
}

.tooltip {
  position: absolute;
  background-color: var(--grey010);
  border: solid 1px $outline-border;
  border-radius: 6px;
  z-index: 1000;
  bottom: -5px;
  transform: translate(calc(-50% + 30px), calc(100%));
  left: 0;
  width: 192px;
  padding: 8px 12px;
  line-height: 150%;
  color: var(--grey090);

  .arrow {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 7px 7px;
      left: 50%;
    }

    &::before {
      border-color: $outline-border transparent;
      top: -7.5px;
    }

    &::after {
      border-color: var(--grey010)transparent;
      top: -6.5px;
    }
  }
}
