.wrap {
  display: grid;
  grid-template-columns: 240px 1fr 280px;
}

.left-upper {
  display: flex;
  align-items: center;
  padding: 4px 16px;

  .left-upper-inner {
    max-width: 166px;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #d3d3d3;

    .scene-name {
      font-size: 11px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

.middle-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  & > .reset-icon {
    width: 26px;
    height: 26px;
    border-radius: 6px;
    background-color: #353739;

    &:hover {
      background-color: #484c4f;
    }

    & > svg {
      width: 24px;
      color: #d3d3d3;
      cursor: pointer;
    }
  }
}

.right-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px;

  .right-upper-inner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4px;
  }

  & > .share-button {
    min-width: 0;
    font-size: 11px;
    font-weight: 500;
    padding: 6px 8px;
    user-select: none;
  }
}

// 현재는 들어가지 않는 기능 채우는 스타일

.void {
  width: 36px;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(48, 48, 48);
}
