@import "styles/libraries/_colors";

.wrapper {
  z-index: 999;
  border-radius: 8px;
  border: 1px solid $outline;
  padding: 4px;
  background-color: $bg-elevated;
  color: $content-active;
  font-size: 11px;
  min-width: 144px;
  position: absolute;
}

.inner {
  &.disabled {
    color: $content-inactive;
  }

  &.invisible {
    display: none;
  }

  &.has-children {
    position: relative;
  }
}

.item {
  border-radius: 6px;
  padding: 6px 12px;

  &.has-children {
    display: flex;
    justify-content: space-between;

    span {
      width: 6px;
    }
  }

  &.focus-children {
    background-color: $primary;
  }

  &:not(.disabled) {
    &:hover {
      background-color: $primary;
    }
  }
}

.separator {
  margin: 6px;
  border-bottom: 1px solid $outline;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 130px;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid $outline;
  background-color: $bg-elevated;

  .sub-item {
    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;

    &.disabled {
      color: $content-inactive;
    }

    &:not(.disabled) {
      &:hover {
        background-color: $primary;
      }
    }
  }
}
