.wrapper {
  z-index: 999;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px;
  background-color: #202122;
  color: #fff;
  font-size: 11px;
  min-width: 144px;
  position: absolute;
}

.inner {
  &.disabled {
    color: #7a7a7b;
  }

  &.invisible {
    display: none;
  }

  &.has-children {
    position: relative;
  }
}

.item {
  border-radius: 6px;
  padding: 6px 12px;

  &.has-children {
    display: flex;
    justify-content: space-between;

    span {
      width: 6px;
    }
  }

  &.focus-children {
    background-color: #4f4f4f !important;
  }

  &:not(.disabled) {
    &:hover {
      background-color: #0f88ff;
    }
  }
}

.separator {
  margin: 6px;
  border-bottom: 1px solid #4f4f4f;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 130px;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #202122;

  .sub-item {
    padding: 6px 12px;
    border-radius: 6px;
    white-space: nowrap;

    &:hover {
      background-color: #0f88ff;
    }
  }
}
