@import "styles/libraries/_mixins";
@import "styles/libraries/_colors";
@import "styles/libraries/_functions";

.menu-item {
  @include reset-list-style();
  padding: 5.5px 16px 5.5px 8px;
  cursor: pointer;
  border-radius: 6px;
  color: $content-active;
  width: auto;
  white-space: nowrap;

  &,
  a {
    font-size: 11px;
    line-height: 13px;
    color: $content-active;
    text-decoration: none;
  }

  &:not(.disabled) {
    &:hover {
      background-color: $primary;
    }
  }

  &.disabled {
    color: $content-inactive;
  }

  &.disabled:hover {
    &,
    a {
      cursor: default;
    }
  }
}
