@import "styles/libraries/colors";
@import "styles/libraries/typography";

.wrapper {
  display: inline-flex;
  align-items: center;
  padding: 4.5px 0 4.5px 8px;
  background-color: $contentbg-base;
  border-radius: 6px;
  user-select: none;
  border: 1px $contentbg-base solid;

  &.fullSize {
    width: 100%;
  }

  &.invalid {
    border-color: $negative;
  }

  &:hover {
    border: 1px $outline-border solid;
  }

  &:focus-within, &.onDrag {
    border: 1px $primary solid;
  }

  &::placeholder {
    color: $content-inactive;
  }

  &.nType {
    cursor: ew-resize;
  }
}

.text-input {
  display: flex;
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
  padding: 0;

  color: $content-active;
  font: $body-default;

  &.disabled {
    color: $content-inactive
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }

  &[min], &[max] {
    width: auto;
  }
}

.prefix-wrapper {
  margin-right: 4px;

  &:not(.isStringType) {
    width: 16px;
    height: 16px;
    span {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  color: $content-inactive;
}