#root {
  background-color: inherit;

  .typography {
    color: white;
  }
}

body {
  background-color: #1D1F20;
  overflow-y: unset;
}

#docs-root {
  *:not(.background) {
    background-image: unset;
  }
}