.dropdown-inner {
  display: flex;
  flex: inherit;
  //display: inline-block;
  align-items: inherit;
  align-self: stretch;
  background-color: inherit;
  cursor: inherit;
  border-radius: inherit;
}