.segment-group {
  display: flex;
  justify-content: space-between;

  align-items: center;

  & > * {
    padding: 8px 0;
  }

  span {
    min-width: 56px;
    
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 400;

    color: var(--gray500);
  }
}