@mixin buttons() {
  .buttons {
    display: flex;

    button {
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}

.start-template {
  @include buttons;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.progress-template {
  @include buttons;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .step {
    font-size: 12px;
    color: var(--gray500);
  }
}
