@import 'styles/libraries/_colors';

.main-logo-sub-menu {
  min-width: 15.5rem;
  border-radius: 6px;
}

.divider {
  border: 0;
  border-top: 1px solid $contentbg-base;
  margin: 0 -4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dropdown {
  user-select: none;
  height: 100%;
  cursor: pointer;
}

.dropdown-header-button {
  padding: 0 12px;
  align-self: stretch;
}