.scrubber {
  path {
    fill: #0f88ff;
  }

  line {
    stroke: #0f88ff;
  }

  .input-wrapper {
    transform: translateX(8px);

    div {
      position: fixed;
    }

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      //transform: translateY(-4px);
      text-align: center;
      border-radius: 4px;
      font-size: 10px;
      transition: 0s;

      &.focused {
        background-color: #353739;
      }

      &:disabled {
        color: white !important;
      }
    }
  }
}
