@import "styles/libraries/_colors";

.menu {
  position: absolute;
  background-color: $bg-elevated;
  min-width: 95px;
  padding: 4px;
  margin: 4px 0 0;
  border-radius: 6px;
  border: 1px solid var(--grey030);
  overflow: hidden;
  z-index: 999;
  letter-spacing: 1px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
