@import 'styles/libraries/_colors';

.menu {
  position: absolute;
  background-color: $bg-elevated;
  padding: 4px;
  margin: 4px 0 0 4px;
  border-radius: 6px;
  border: 1px solid var(--grey030);
  z-index: 999;
  line-height: 15px;
  font-size: 12px;
  font-weight: 300;

  &::-webkit-scrollbar {
    display: none;
  }
}
