@import 'styles/libraries/_colors';

.panel-wrap {
  * {
    font-size: 12px;
  }
}

.section-setup {
  position: relative;
  display: flex;
  border-bottom: 1px solid #303030;

  .setup-group {
    width: 100%;
    padding-top: 4px;
    margin: 0;

    .icon {
      & > svg {
        width: 32px;
      }

      &:focus {
        border: 1px solid transparent;
      }
    }

    .right {
      float: right;
    }

    .error {
      & > svg {
        & > path {
          stroke: #e85757;
        }

        & > circle {
          stroke: #e85757;
        }
      }
    }
  }

  .apply-button {
    font-weight: 600;
    line-height: 24px;
    color: #7a7a7a;
    margin-right: 8px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

    &.ready {
      color: $primaryColor;
    }

    &.submit {
      color: #7a7a7a;
    }
  }
}

.section-retarget {
  .retarget-card {
    border-bottom: 1px solid #303030;
    padding-bottom: 12px;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 8px 12px;

      & > span {
        font-weight: 700;
        color: #fff;
      }
    }

    .card-coord {
      display: flex;
      justify-content: space-between;
      padding: 0 12px;

      .card-input-group {
        display: flex;
        margin-left: 4px;

        & > * {
          margin-left: 8px;
        }
      }
    }
  }
}
