.section-setup {
  position: relative;
  display: flex;

  border-bottom: 1px solid #303030;

  .setup-group {
    width: 100%;
    float: left;

    padding-top: 4px;
    margin: 0;

    &>* {
      float: right;
    }

    .icon {
      &>svg {
        width: 32px;
      }

      &:focus {
        border: 1px solid transparent;
      }
    }
  }
}

.section-retarget {
  .retarget-card {
    border-bottom: 1px solid #303030;
    padding-bottom: 12px;
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      padding: 12px 6px;

      &>span {
        font-size: 14px;
        font-weight: 700;

        color: #fff;
      }
    }

    .card-coord {
      display: flex;
      justify-content: space-between;
      padding: 0 6px;

      .card-input-group {
        display: flex;
        margin-left: 16px;

        &>* {
          margin-left: 4px;
        }
      }
    }
  }
}