@import 'styles/libraries/_colors';

.wrapper {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width: auto;
  height: 26px;
  position: relative;
  cursor: pointer;
  color: $content-active;

  &:not(.disabled) {
    &:hover {
      background-color: $primary;

      > .submenu {
        opacity: 1;
        transition: opacity 0.275s;
      }
    }
  }

  .trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .submenu {
    position: absolute;
    top: -4px;
    margin-left: 4px;
    z-index: 999;
    border-radius: 8px;
    border: 1px solid $outline;
    padding: 4px;
    background-color: $bg-elevated;
    color: $content-active;
    font-size: 11px;
    min-width: 144px;
  }
}

.arrow {
  color: var(--grey090);
  width: 16px;
  height: 16px;

  & > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
  }
}
