@import 'styles/libraries/_mixins';
@import 'styles/libraries/_colors';

// 트랙을 감싸는 wrapper
.track-wrapper {
  position: relative;
  width: 100%;

  // 트랙에 포함되는 아이콘 common style
  .track-button {
    @include reset-button-style();
  }
}

// 트랙 본 부분
.track-body {
  display: flex;
  align-items: center;
  height: 32px;
  padding-right: 10px;
  border-bottom: 2px solid $gray300;
  background: transparent;

  span {
    margin-left: 10px;
    color: white;
  }

  &.selected {
    background: rgba(55, 133, 247, 10%); // --vivid-blue: #3785f7;
  }

  // 화살표 버튼
  .arrow-button {
    transform: rotate(0deg);

    &.opened {
      transform: rotate(90deg);
    }
  }
}

// 숨기기, 잠그기 버튼 wrapper
// .track-icon-wrapper {

// }
