@import 'styles/libraries/_mixins';
@import 'styles/libraries/_colors';

// 트랙을 감싸는 wrapper
.track-wrapper {
  position: relative;
  width: 100%;

  svg {
    width: 10px;
  }

  // 트랙에 포함되는 아이콘 common style
  .track-icon {
    @include reset-button-style();
    display: flex;
  }
}

// 트랙 본 부분
.track-body {
  display: flex;
  align-items: center;
  height: 32px;
  padding-right: 10px;
  border-bottom: 2px solid $gray300;
  background: transparent;

  p {
    flex-grow: 1;
    margin: 0;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.selected {
    background: rgba(55, 133, 247, 10%); // --vivid-blue: #3785f7;
  }

  p.locked {
    color: #5c5c5c;
  }

  // 화살표 버튼
  .arrow-button {
    margin-right: 8px;
    color: #7a7a7a;

    svg {
      transform: rotate(-90deg);
    }

    &.opened {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

// 숨기기, 잠그기 버튼 wrapper
.track-icon-wrapper {
  display: flex;
  align-items: center;

  &.locked .lock {
    margin-right: 4px;

    svg {
      width: 14px;
    }
  }

  .check-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    background: #7a7a7a;
    border-radius: 2px;
  }

  .lock {
    color: #7a7a7a;
    margin-right: 8px;
  }

  .check {
    color: black;
  }
}
